<div class="grid">
    <div class="col-12 text-center">
        <h3>HOST LİST</h3>
    </div>
    <div class="col-12">
        <p-table [value]="hosts" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Hosts Connected
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>MAC</th>
                    <th>IP</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-host>
                <tr>
                    <td>{{ host.name }}</td>
                    <td>{{ host.MAC }}</td>
                    <td>{{ host.IP }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
