<div class="grid">
    <div class="col-12 text-center" style="height: 100px; border: 1px solid grey;">
    Projeye Koyacağımız Ad - localhost:8080
    </div>
<div class="col-2" style="border: 1px solid grey; height: 100vh;">
burada menu olacak <br> <br>
<div>menu 1</div>
<div class="mt-3">menu 2</div>
<div class="mt-3">menu 3</div>
<div class="mt-3">menu 4</div>
<div class="mt-3">menu 5</div>
<div class="mt-3">menu 6</div>
<div class="mt-3">menu 7</div>
<div class="mt-3">menu 8</div>
</div>
<div class="col-10 p-5">
    <router-outlet></router-outlet>
</div>
</div>