<div class="grid">
    <div class="col-4 p-2">
        <div class="mycard">
            <div class="img">
                <i class="pi pi-check" style="font-size: 5em"></i>
            </div>
            <div class="text">
                <div class="text1 mb-2" >Active</div>
                <div class="text2">Controller Status</div>
            </div>
        </div>
    </div>

    <div class="col-4 p-2">
        <div class="mycard" style="background-color: #f0ad4e;">
            <div class="img">
                <i class="pi pi-clock" style="font-size: 5em"></i>
            </div>
            <div class="text">
                <div class="text1 mb-2" >00:00:00</div>
                <div class="text2">Uptime (HH-mm-ss)</div>
            </div>
        </div>
    </div>

    <div class="col-4 p-2">
        <div class="mycard" style="background-color: #337ab7;">
            <div class="img">
                <i class="pi pi-user" style="font-size: 5em"></i>
            </div>
            <div class="text">
                <div class="text1 mb-2" >ACTIVE</div>
                <div class="text2">Controller Role Change</div>
            </div>
        </div>
    </div>


    <div class="col-3 p-2">
        <div class="mycard" style="background-color: #d9534f; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #d9534f;">
            <div class="img">
                <i class="pi pi-sync" style="font-size: 4em"></i>
            </div>
            <div class="text">
                <div class="text1 mb-2" >1</div>
                <div class="text2">Switches</div>
            </div>
        </div>
        <div class="mycard" style="background-color: #f5f5f5; border-top-right-radius: 0px; border-top-left-radius: 0px; border: 1px solid #d9534f;">
            <div class="img" style="color: #d9534f;">
                See All
            </div>
            <div class="text">
                <i class="pi pi-arrow-circle-right" style="font-size: 1em; color: #d9534f;"></i>
            </div>
        </div>
    </div>

    <div class="col-3 p-2">
        <div class="mycard" style="background-color: #d9534f; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #d9534f;">
            <div class="img">
                <img src="https://cdn-icons-png.flaticon.com/512/4703/4703487.png" style="width: 5em;" />
            </div>
            <div class="text">
                <div class="text1 mb-2" >0</div>
                <div class="text2">Hosts</div>
            </div>
        </div>
        <div class="mycard" routerLink="/host/list" style="background-color: #f5f5f5; border-top-right-radius: 0px; border-top-left-radius: 0px; border: 1px solid #d9534f; cursor: pointer;">
            <div class="img" style="color: #d9534f;">
                See All
            </div>
            <div class="text">
                <i class="pi pi-arrow-circle-right" style="font-size: 1em; color: #d9534f;"></i>
            </div>
        </div>
    </div>

    <div class="col-3 p-2">
        <div class="mycard" style="background-color: #d9534f; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #d9534f;">
            <div class="img">
                <img src="https://cdn.icon-icons.com/icons2/1673/PNG/512/expandoutline_110775.png" style="width: 5em;" />
            </div>
            <div class="text">
                <div class="text1 mb-2" >0</div>
                <div class="text2">Connections (Links)</div>
            </div>
        </div>
        <div class="mycard" style="background-color: #f5f5f5; border-top-right-radius: 0px; border-top-left-radius: 0px; border: 1px solid #d9534f;">
            <div class="img" style="color: #d9534f;">
                See All
            </div>
            <div class="text">
                <i class="pi pi-arrow-circle-right" style="font-size: 1em; color: #d9534f;"></i>
            </div>
        </div>
    </div>


    <div class="col-3 p-2">
        <div class="mycard" style="background-color: #d9534f; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: 1px solid #d9534f;">
            <div class="img">
                <i class="pi pi-check-square" style="font-size: 4em"></i>
            </div>
            <div class="text">
                <div class="text1 mb-2" >0</div>
                <div class="text2">Reserved Ports</div>
            </div>
        </div>
        <div class="mycard" style="background-color: #f5f5f5; border-top-right-radius: 0px; border-top-left-radius: 0px; border: 1px solid #d9534f;">
            <div class="img" style="color: #d9534f;">
                See All
            </div>
            <div class="text">
                <i class="pi pi-arrow-circle-right" style="font-size: 1em; color: #d9534f;"></i>
            </div>
        </div>
    </div>

</div>